.row {
  margin: 0 !important;
}

/* #scene3d {
  height: 100vh;
  padding: 0 !important;
} */

#controls {
  position: absolute;
  bottom: 3vh;
  right: 3vw;
}

.sidenav-overlay {
  opacity: 0 !important;
}